WindowWidth=1936
WindowHeight=1048
WindowLeft=-1928
WindowTop=182
WindowState=Maximized
commandHistory0=bk NMISampleBufferProcess
commandHistory1=bk PitchDrawOptimised
commandHistory2=d 1393
commandHistory3=m RowEntriesLo
commandHistory4=m RowEntriesHi
commandHistory5=m Footy_Temp0
commandHistory6=bk .smj
commandHistory7=reset 1
commandHistory8=m 02 03
commandHistory9=m Footy_Temp0 Footy_Temp0+1
commandHistory10=m 5c58
