commandHistory0=?
commandHistory1=m 400
commandHistory2=d 400
WindowWidth=1074
WindowHeight=717
WindowLeft=15
WindowTop=26
WindowState=Normal
commandHistory3=test1
commandHistory4=test2
commandHistory5=test3
commandHistory6=test4
commandHistory7=test5
commandHistory8=tes6
commandHistory9=test7
commandHistory10=test8
commandHistory11=test10
commandHistory12=test11
commandHistory13=test12
commandHistory14=test13
commandHistory15=test14
commandHistory16=test20
commandHistory17=test21
commandHistory18=test22
commandHistory19=test23
commandHistory20=test24
