WindowWidth=1936
WindowHeight=1048
commandHistory0=m EntityMoveType
commandHistory1=m EntityMoveTypeOffset
commandHistory2=m GameMonsterMoveType
commandHistory3=m Entity_FrameCounter
WindowLeft=-1928
WindowTop=104
WindowState=Maximized
commandHistory4=bk EntityUpdate_Monster
commandHistory5=> EntityMoveTypeOffset 10 20 30 40 50 60 70 80
commandHistory6=> 19c9 10 20 30 40 50 60 70 80
commandHistory7=del
commandHistory8=bk 1e23
commandHistory9=bk 1e20
commandHistory10=x
commandHistory11=m .seeds
