WindowWidth=1074
WindowHeight=717
WindowLeft=13
WindowTop=78
commandHistory0=profile
commandHistory1=?
commandHistory2=? profile
WindowState=Normal
commandHistory3=w store panelIRQDone
commandHistory4=break 3dca
commandHistory5=x
commandHistory6=bk ScorePlayer1LivesUpdated
commandHistory7=del
commandHistory8=w ScorePlayer1LivesUpdated
commandHistory9=w store ScorePlayer1LivesUpdated
commandHistory10=w store ScorePlayer2LivesUpdated
commandHistory11=bt
commandHistory12=bk .processShadow1Object
