body 
{
  background-color: #ffffff;
  color: #000000;
  font-family: "verdana"; 
  font-size: 13px;
} 
 
a 
{ 
  color: #0000ff;
  text-decoration: none;
} 
 
td 
{
  font-family: "lucida console"; 
  white-space: nowrap;
}

pre
{
  font-family: "lucida console";  
  color: #000000;
}

.code
{
  font-family: "lucida console";  
  color: #CC6600;
}

.rose
{
  font-family: "lucida console";  
  color: #BB0044;
}

